<main role="main" class="container">
  <h1 class="mt-5">Welcome &nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-smile"></i> <%= user %></h1>

  <p> Log in successfully! </p>
  <p>
    <a href="/users/logout">LogOut</a>
  </p>
  <p>
    <a href="/users/edit">editpage</a>
  </p>
</main>