<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html  dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Dashboard T</title>
    <link rel="stylesheet" href="/css/sidebar.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Project</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="請輸入關鍵字...">
         <span class="tooltip">搜尋</span>
      </li>

      <li>
        <% var newInmultiLink = "/users/"+group_name+"/edit_multi" %> 
        <a href=<%= newInmultiLink %> >
            <i class='bx bx-book-add' ></i>
          <span class="links_name">新增筆記</span>
        </a>
        <span class="tooltip">新增筆記</span>
      </li>

      <li>
       <a href="/users/dashboard">
         <i class='bx bx-user' ></i>
         <span class="links_name">個人筆記</span>
       </a>
       <span class="tooltip">個人筆記</span>
     </li>

     <li>
        <a href="/users/group_page_choose">
          <i class='bx bx-group'></i>
          <span class="links_name">多人筆記</span>
        </a>
        <span class="tooltip">多人筆記</span>
      </li>

     <li>
       <a href="/users/note_delete_page">
         <i class='bx bx-folder' ></i>
         <span class="links_name">筆記刪除</span>
       </a>
       <span class="tooltip">筆記刪除</span>
     </li>

     <li>
      <a href="/users/setting_page">
        <i class='bx bx-cog' ></i>
        <span class="links_name">設定</span>
      </a>
      <span class="tooltip">設定</span>
    </li>

     <li class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div class="name"><%= user %> </div>
             <div class="job">&nbsp;&nbsp;&nbsp;&nbsp;</div>
             <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;</div>
           </div>
         </div>
         <a href="/users/logout">
           <i class='bx bx-log-out' id="log_out" ></i>
        </a>
     </li>

    </ul>
  </div>

  <section class="home-section">
      <div class="text">ALL Notes (multi-user)</div>
      <div>
      <table class="list-note">
        <% if(allnotes[0].note_id != null) { %> 
        <% for(var i=0; i < allnotes[0].note_id.length; i++) { %>
          <% var link =   "/users/"+group_name+"/edit_multi/"+allnotes[0].note_id[i]; %> 
          <tr>
              <div class="overview-card" onclick="location.href='<%= link %>';">
                <!--a class="note-linker" href="link" ></a-->
                <div class="item1">
                  <%= allnotes[0].note_id[i] %>
                </div>
                <!--/a-->
              </div>
          </tr>
         <% } %>
         <% } %> 
        </table>
        </div>
  </section>

  <script src="/js/sidebar.js"></script>
</body>
</html>