<main role="main" class="container text-center">
<link href="/css/signin.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney:wght@600&display=swap" rel="stylesheet">
  <img
    class="mb-4 rounded-circle"
    src="/images/img.png"
    alt=""
    width="72"
    height="72"
  />
  <h1 class="mt-5">Hello there</h1>
  <p>
    <input type="button" value="Login" name="login_but" style="width:150px;height:50px;" onclick="location.href='/users/login'">
    <input type="button" value="Register" name="login_but" style="width:150px;height:50px;" onclick="location.href='/users/register'">
    <!--input type="button" value="guest" name="guest_but" style="width:150px;height:50px;" onclick="location.href='/users/guest'"-->
    <!--a href="/users/login" class="btn btn-lg btn-primary">Login</a>
    <a href="/users/register" class="btn btn-lg btn-primary">Register</a-->
  </p>
</main>