body {
    font-size:20px;
  }
  #container{
    position: relative;
  }
  
  #editor {
    border: 1px solid #ccc;
  }
  
  #preview{
    word-wrap: break-word;
    word-break: break-all;
  }
  
  #lineNumber {
    position: absolute;
    text-align: end;
    top: 50px;
    margin-top: 4rem;
    left: -34px;
    font-size: 13px;
    /* padding: 48px 5px; */
    line-height: 1.42;
    vertical-align: middle;
    padding-bottom: 14px;
    width: 4rem;
}

.view-area{
  word-break: break-all;
  word-wrap: break-word;
}
  